<div>
    <form action="" method="post">
        <label>User name: </label>&nbsp;<input name="username" type="text" />
        <label>Password: </label>&nbsp;<input name="username" type="password" />
        <input type="submit" id="btnLogin" value="Login" name="action:Save" />
    </form>

    
</div>




